/*Useful*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h2{
  font-size: 15px;
}

.flex{
  display: flex;
}



.main-container{
  min-height: 100vh;
  min-width: 100vw;
  /*background-color:red;*/
}

.container{
  min-height: 100vh;
}


.left{
  width: 20%;
  background-color: #240099;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh;
  /*box-sizing: border-box;*/
}

.middle{
  width: 30%;
  /*background-color: yellow;*/
  /*background-color: #240099;*/
}

.right{
  width: 50%;
  /*background-color: blue;*/
  /*background-color: #240099;*/
}


.main-image{
  background-image: url("https://avatars.githubusercontent.com/u/95907011?v=4");
  height: 90vh;
  width: 100%;
  justify-content:flex-end;
  align-items: center;
  background-size: cover;
  background-position: left;
  box-shadow: 35px 30px 90px -20px;
}

.deco-color{
  height: 5vh;
  width: 40%;
  background-color:#240099;

}

.logo{
  width: 100px;
  height: 50px;
  background-image: url("./LIban\ logo.JPG");
  background-size: contain;
  background-repeat: no-repeat;
}

.right-left{
  /*background-color:white;*/
  width: 10%;
  flex-direction: column;
  justify-content:center;
}

.right-middle{
  /*background-color:white;*/
  width: 70%;
  display: flex;
  align-items: center;
}

.right-right{
  /*background-color:white;*/
  width: 20%;
  justify-content:flex-end;
  padding:5vh;
}

.hamb{
  font-size: 50px;
  /*color:red;*/
}

.line{
  height: 4px;
  width: 30px;
  background-color:#240099;
  margin-bottom: 30vh;
}

.second-line{
  height: 4px;
  width: 120px;
  background-color:#240099;
  margin-bottom: 30vh;
}

.main-infos{
  width: 80%;
}

.btn{
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  cursor: pointer;
}

.btn-port {
  background-color: #240099;
  border: none;
  color: white;
  margin-right: 2.5vh;
}

.btn-res{
  background-color:white;
  border: 1px solid black;
}


.btn-port:hover{
  background-color:white;
  border: 1px solid black;
  color: black;
}

.btn-res:hover{
  background-color: #240099;
  border: none;
  color: white;
}

.main-infos h1 span{
  color: #240099;
}

.main-infos h1{
  margin-bottom: 2.5vh;
}

.main-infos h2{
  margin-bottom: 5vh;
}

.main-infos p{
  margin-bottom: 2.5vh;
}

.social-icons{
  display: flex;
  justify-content:space-between;
}

.infos-container{
  color: white
}

.infos-container h2{
  margin-bottom:1.75vh;
}
.infos-container p{
  margin-bottom: 5vh;
}
.fab {
  background: rgb(170, 155, 155);
}

@media only screen and (max-width: 768px) and (min-width: 301px) {
  body {
    background-color: green;
  }

  @media only screen and (max-width: 768px) and (min-width: 301px) {
.left {
  background-color: green;
}